<!--
  Generated template for the Eventview page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>eventview</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-card *ngFor="let item of data">
    <button ion-button item-right color="dark" clear (click)="deleteevent(item.ID)" *ngIf="item.HostName==username">
      <ion-icon name="trash" ></ion-icon>
    </button>

    <button ion-button item-right color="dark" clear (click)="editevent(item.ID)" *ngIf="item.HostName==username">
      <ion-icon name="build" ></ion-icon>
    </button>

      <p>Host: {{item.HostName}}</p>
      <p>Description: {{item.Description}}</p>

</ion-card>   
</ion-content>
