<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
    <button ion-button item-left large color="dark" clear (click)="gotoCreateEvent()">
      <ion-icon name="add"></ion-icon>

    </button>
  </ion-navbar>
</ion-header>

<ion-content padding  style="background-color:floralwhite">
  <!--<div *ngFor="let item of data">
    <textarea>Name: {{item.Name}}</textarea>
    <br/>
    <textarea>Description: {{item.Description}}</textarea>
  </div>-->


  <ion-card *ngFor="let item of data" style="background-color:#ffd9b3" (click)="gotoEvent(item.HostName, item.ID)">

    <ion-item style="background-color:#ffd9b3">
      

          <ion-avatar item-left>
            <!--<img src="">-->
          </ion-avatar>
          <h2>{{item.HostName}}</h2>
          <p>29.01.1994</p>

          <p>{{item.Name}}</p>
        
    </ion-item>
     
    <img src="{{item.PictureID}}"/>

    <ion-card-content style="background-color:#ffbf80">
      <p>{{item.Description}}</p>
    </ion-card-content>
    

    <ion-row>
      <!--<ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>-->
      <ion-col center text-center>
        <ion-note>
          {{item.EventDate}}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
